@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Something happened... Run This time</h1>
<h2 class="text-danger">Something went wrong!!! Unable to fetch Register form.</h2>

